html {
    height: 100%;
}
body {
    margin: 0;
    font-family: Calibri, sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom, #232526, #414345);
}
.header {
    background-color: white;
    text-align: center;
}
.header-1 {
    text-align: center;
}
.main-header {
    margin: 0;
    padding: 20px;
    font-weight: bold;
    font-size: 50px;
    color: black;
}
.main-header-1 {
    font-size: 50px;
    color: white;
}
.list {
    background-color: white;
    padding: 40px;
    text-align: center;
}
.list-item {
    display: inline;
    text-decoration: none;
    list-style: none;
    padding: 30px;
    color: white;
}
.list-item:hover {
    cursor: pointer;
}
.list-item_1, .list-item_2, .list-item_3 {
    font-size: 25px;
    color: black;
    text-decoration: none;
    transition: border-bottom .3s;
}
.list-item_1:hover, .list-item_2:hover, .list-item_3:hover {
    transition: .7s;
    color: forestgreen;
    border-bottom: 3px solid forestgreen;
}
/*CSS for index page*/

.flex-container {
    display: flex;
    margin-top: 50px;
}
.image {
    margin: 0 50px 25px 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.index-paragraph {
    font-size: 19px;
    color: white;
    margin-top: 50px;
    margin-right: 50px;
}
.index-paragraph_2 {
    font-size: 19px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

/*CSS for projects page*/

.main-header-projects {
    color: white;
    text-align: center;
    align-items: center;
    margin-left: 375px;
}
.projects-info {
    margin-top: 50px;
    text-align: center;
}
.projects-info-item:link,
.projects-info-item:visited {
    text-decoration: none;
    font-size: 26px;
    color: white;
}
.projects-info-item:active,
.projects-info-item:hover {
    font-size: 26px;
    color: forestgreen;
    transition: .3s;
}


/*CSS for contact page*/

 .contact {
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.contact-paragraph {
    font-size: 19px;
    text-align: center;
    color: white;
    margin: 0;
}
.logos {
    display: flex;
    justify-content: center;
    padding: 0;
}
.sm-logo {
    font-size: 100px;
    color: black;
}
.sm-logo:active,
.sm-logo:hover {
    transition: .3s;
    color: forestgreen;
    cursor: pointer;
}

.img_list {
    list-style-type: none;
}